.questions {
	border: 0.01em solid black;
	width: 50%;
}

span.clear {
	clear:left;
	display: block;
}

span.letter {
	font-weight: bold;
	padding: 0 4px 0 0px;
}

.question-text {
	margin: 1em 1em 1em 1em;
	font-size: 1.5em;
}

button[type=button] {
	margin-top: 2em;
	float: right;
}

.contents {
	display: flex;
	justify-content: center;
}

.question {
	margin-left: 1em;
	margin-top: 1em;
}

input[type=checkbox] {
	float: right;
	position: relative;
	clear: both;
	padding: 0;
	margin: 0;
	margin-right: 5px;
}
